#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.title-container {
  margin-bottom: 50px;
}

.title-container .title a {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo:hover,
.title h1:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.title-container .logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;

}


.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  gap: 5px;
}


.input-container .input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(196, 196, 196, 0.767);
  border-color: rgb(243, 240, 240);
  text-align: center;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-sizing: border-box;
}


.input-container .input::placeholder {
  color: white;
  text-align: center;


}

.input-container .input:focus {
  border: 5px solid #8b8b8b;

}

.input-container button {
  background-color: #28A745;
  height: 42px;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}

.body-container .body-content {
  display: flex;
  flex-direction: column;
  gap: 10px;


}



.body-container .card-container .data-container {
  display: flex;
  justify-content: end;
}

.body-container .card-container {
  border: 2px solid rgba(255, 255, 255, 0.39);
  border-radius: 25% 10%;
  padding: 30px;
}

.body-container .card-container .link-container {
  display: flex;
  font-size: 20px;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 15px;

}


.body-container .card-container {
  width: 740px;
}

.body-container .card-container .categories-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-family: "Times New Roman", Times, serif;

  font-size: 18px;
}

.body-container .requestNotification {
  color: #ff6347;
}





.rodapé {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}